
    body {
        font-family: 'Amazon Ember', Arial, sans-serif; /* Use Amazon's font or a similar one */
        margin: 0;
        padding: 0;
    }

    .header {
        background-color: #131921; /* Amazon's header background color */
        color: white;
        padding: 10px;

        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    }

    .header_menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header_menu_logo {
        width: 120px; /* Adjust the size as needed */
        height: auto;
    }

    .header_menu_searchbar {
        flex: 4;
        align-items: center;
        justify-content: center; 
        margin-left: 20px; /* Adjust the margin as needed */
    }
    .header_menu_searchbar {
      display: flex;
      align-items: center;
      justify-content: center; 
      margin-left: 20px;
  }
  
  .header_menu_input {
      flex: 4;
      padding: 0px; /* Increase padding for better visibility */
      border: none;
      align-items: center;
      justify-content: center; 
      border-radius: 10px;
      font-size: 10px;
      
      margin-right: 10px; /* Add some right margin */
  }
  
  .header_menu_searchbar_icon {
      background-color: #febd69;
      height: 50px;
      width: 50px;
      color: black;
      display: flex;
      justify-content: center; /* Center the content horizontally */
      align-items: center;
      cursor: pointer;
  }
  
  
  

    .header_menu_signin {
        margin-right: 20px; /* Adjust the margin as needed */
        font-size: 14px;
    }

    .header_menu_cart {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-left: 20px; /* Adjust the margin as needed */
        font-size: 14px;
    }

    .navbar {
        background-color: #131921; /* Match the header background color */
        margin: 0;
    }

    .navbar-nav {
      align-items: center;
        justify-content: space-around;
        width: 100%;
        height: 30px;
    }

    .nav-item {
        padding: 10px;
        font-size: 14px;
        color: white;
        text-decoration: none;
    }

    .nav-item:hover {
        border-bottom: 2px solid white; /* Add underline on hover */
    }

    .carousel {
        width: 100%;
        max-height: 400px; /* Adjust the height as needed */
        overflow: hidden;
    }

    .carousel-inner {
        width: 100%;
        height: 100%;
    }

    .banner {
        width: 100%;
        height: auto;
    }

