.container {
    background-color: rgba(255, 255, 255, 0); /* Set the background color with full transparency */
     /* Add padding as needed */
}

.banner-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px; /* Adjust as needed */
}

.banner {
    width: 100%;
    height: 200px; /* Adjust the height of the banner */
    object-fit: cover;
}

.card {
    width: 18rem;
    margin-right: 30px;
    margin-bottom: 0px;
}

.ListPrice{
    
    text-decoration: line-through;
    color: #050101;  /* Optional: Add a color to the strikethrough text */
  
  
}

.img-thumbnail {
    width: 100%;
    height: 150px;
    object-fit: fill;
}

.card-title {
    color: #2c3e50;
    
}

.price {
    color: maroon;
}

.row1 {
    display: flex;
    justify-content: flex-start; 
    flex-wrap: wrap;
    position: relative;
    z-index: 1; 
    background-color: rgba(255, 255, 255, 0);
    object-fit: cover; 
    margin-bottom: 20px; 
}


.row1 .card-title {
    font-weight: bold;
    color: #ff0000; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2; 
    margin-bottom: 10px; 
}
